#jsc-sidebar-trigger {
    text-decoration: none;
    font-size: 3em;
    color: #E2E2E2;
}
.jsc-sidebar {
    position: absolute;
    top: 70px;
    width: 220px;
    height: 100%;
}

.wrap {
    position: relative;
}
#logo {
    font-size: 2em;
    vertical-align: bottom;
    margin-left: 10px;
    text-decoration: none;
    color: #E2E2E2;
}

td > .form-group {
    width: 100%;
}

td > .form-group > textarea, td > .form-group > input {
    width: 100% !important;
}